<div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="32">
            <mat-toolbar color="primary">Inscrivez Vous</mat-toolbar>
            <form [formGroup]="registerForm" fxLayoutAlign="stretch" fxLayout="column" class="register-form" (ngSubmit)="register()" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Nom" formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Prénom" formControlName="lastName" required>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>

                <label id="example-radio-group-label">Sexe</label>
                <mat-radio-group aria-label="Select an option" formControlName="sexe" >
                    <mat-radio-button value="homme">Homme</mat-radio-button>
                    <mat-radio-button value="femme">Femme</mat-radio-button>
                </mat-radio-group>

                <mat-form-field>
                  <input matInput placeholder="E-mail" formControlName="username" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">S'inscrire</button>
                <button routerLink="/login" class="btn btn-link">S'authentifier</button>

            </form>

        </mat-card>
    </div>